Repository decalage2/oletools, pull requests merged in 2018-10, with the labels that each got.

#308 Unified logging with json option
  oletools/common/log_helper/__init__.py
  oletools/common/log_helper/_json_formatter.py
  oletools/common/log_helper/_logger_adapter.py
  oletools/common/log_helper/_root_logger_wrapper.py
  oletools/common/log_helper/log_helper.py
  oletools/msodde.py
  oletools/ooxml.py
  tests/common/__init__.py
  tests/common/log_helper/__init__.py
  tests/common/log_helper/log_helper_test_imported.py
  tests/common/log_helper/log_helper_test_main.py
  tests/common/log_helper/test_log_helper.py
  tests/json/test_output.py
  tests/msodde/test_basic.py
  tests/msodde/test_csv.py
  tests/test_utils/__init__.py
  tests/test_utils/output_capture.py
Labels: enhancement, msodde

#333 Fix false-positive with detect_vba_macros
  oletools/olevba.py
  oletools/olevba3.py
Labels: bug, olevba

#362 Encrypt detect and raise
  oletools/common/errors.py
  oletools/msodde.py
  oletools/oleid.py
  oletools/olevba.py
  oletools/olevba3.py
  oletools/ooxml.py
  oletools/ppt_record_parser.py
  oletools/record_base.py
  oletools/xls_parser.py
  tests/msodde/test_basic.py
  tests/oleid/test_basic.py
  tests/olevba/__init__.py
  tests/olevba/test_basic.py
  tests/test-data/encrypted/encrypted.doc
  tests/test-data/encrypted/encrypted.docm
  tests/test-data/encrypted/encrypted.docx
  tests/test-data/encrypted/encrypted.ppt
  tests/test-data/encrypted/encrypted.pptm
  tests/test-data/encrypted/encrypted.pptx
  tests/test-data/encrypted/encrypted.xls
  tests/test-data/encrypted/encrypted.xlsb
  tests/test-data/encrypted/encrypted.xlsm
  tests/test-data/encrypted/encrypted.xlsx
Labels: enhancement, msodde, oleid, olevba

#317 oleobj: detect external links
  oletools/oleobj.py
  oletools/ooxml.py
  tests/oleobj/test_external_links.py
  tests/test-data/oleobj/external_link/sample_with_external_link_to_doc.docm
  tests/test-data/oleobj/external_link/sample_with_external_link_to_doc.docx
  tests/test-data/oleobj/external_link/sample_with_external_link_to_doc.dotm
  tests/test-data/oleobj/external_link/sample_with_external_link_to_doc.dotx
  tests/test-data/oleobj/external_link/sample_with_external_link_to_doc.potm
  tests/test-data/oleobj/external_link/sample_with_external_link_to_doc.potx
  tests/test-data/oleobj/external_link/sample_with_external_link_to_doc.ppsm
  tests/test-data/oleobj/external_link/sample_with_external_link_to_doc.ppsx
  tests/test-data/oleobj/external_link/sample_with_external_link_to_doc.pptm
  tests/test-data/oleobj/external_link/sample_with_external_link_to_doc.pptx
  tests/test-data/oleobj/external_link/sample_with_external_link_to_doc.xlsb
  tests/test-data/oleobj/external_link/sample_with_external_link_to_doc.xlsm
  tests/test-data/oleobj/external_link/sample_with_external_link_to_doc.xlsx
Labels: enhancement, oleobj
