Repository decalage2/oletools, pull requests merged in 2018-05, with the labels that each got.

#305 remove a duplicated key
  oletools/common/clsid.py
Labels: clsid

#306 Update clsid.py (CVE-2018-8174)
  oletools/common/clsid.py
Labels: clsid, enhancement

#275 Csv formula extension
  oletools/msodde.py
  tests/msodde/test_csv.py
Labels: enhancement, msodde

#312 Update clsid.py
  oletools/common/clsid.py
Labels: clsid, enhancement

#314 WIP: oleform: add support for other types of controls
  oletools/oleform.py
  tests/oleform/__init__.py
  tests/oleform/test_basic.py
  tests/test-data/oleform/oleform-PR314.docm
Labels: enhancement, oleform
