Repository decalage2/oletools, pull requests merged in 2018-04, with the labels that each got.

#284 Improve detect_flash Python 3 compatibility
  oletools/oleid.py
Labels: Python 3.x, bug, oleid

#285 Use only module-specific logger in the ppt_parser module.
  oletools/ppt_parser.py
Labels: enhancement, ppt_parser

#288 Fix AttributeError: 'str' object has no attribute 'decode'.
  oletools/olevba3.py
Labels: Python 3.x, bug, olevba

#289 msodde: Determine when error condition actually is one
  oletools/msodde.py
Labels: bug, msodde

#194 oleid: detect OpenXML encryption
  oletools/oleid.py
  tests/oleid/__init__.py
  tests/oleid/test_issue_166.py
  tests/test-data/basic/encrypted.docx
Labels: enhancement, oleid
