Repository decalage2/oletools, pull requests merged in 2019-03, with the labels that each got.

#396 Update rtfobj to use the extension from the temp path of an embedded Package object
  oletools/rtfobj.py
Labels: enhancement, rtfobj

#393 Added detection for Equations Editor (CVE-2017-11882) in 'rtfobj'
  oletools/rtfobj.py
Labels: enhancement, rtfobj

#392 Fixing PrettyTable import for oleid (fixes #391)
  oletools/oleid.py
Labels: bug, oleid

#403 Integrate decrypt from msoffcrypto-tools
  .travis.yml
  oletools/common/errors.py
  oletools/crypto.py
  oletools/msodde.py
  oletools/oleid.py
  oletools/olevba.py
  oletools/ppt_record_parser.py
  oletools/record_base.py
  oletools/xls_parser.py
  setup.py
  tests/common/log_helper/test_log_helper.py
  tests/msodde/test_basic.py
  tests/msodde/test_crypto.py
  tests/olevba/test_basic.py
  tests/olevba/test_crypto.py
  tests/ppt_parser/test_basic.py
  tests/test-data/encrypted/autostart-encrypt-standardpassword.xlsb
  tests/test-data/encrypted/autostart-encrypt-standardpassword.xlsm
  tests/test-data/encrypted/dde-test-encrypt-standardpassword.xls
  tests/test-data/encrypted/dde-test-encrypt-standardpassword.xlsb
  tests/test-data/encrypted/dde-test-encrypt-standardpassword.xlsm
  tests/test-data/encrypted/dde-test-encrypt-standardpassword.xlsx
  tests/test_utils/__init__.py
Labels: crypto, enhancement, msodde, olevba
