Repository decalage2/oletools, pull requests merged in 2019-07, with the labels that each got.

#432 Msodde failed decrypt fix
  oletools/common/log_helper/_json_formatter.py
  oletools/crypto.py
  oletools/olevba.py
  tests/msodde/test_basic.py
Labels: bug, crypto, msodde

#461 Add SCT to the list of executable file extensions Fix #276
  oletools/rtfobj.py
Labels: enhancement, rtfobj

#460 Add URL carver for CVE-2017-0199 Fix #163
  oletools/rtfobj.py
Labels: enhancement, rtfobj

#459 Add Msxml2.SAXXMLReader.5.0 unknown CLSID Fix #458
  oletools/common/clsid.py
Labels: clsid, enhancement

#468 Add standard LICENSE.md Fix #123
  LICENSE.md
Labels: documentation, enhancement

#469 msodde: Fix UnicodeError
  oletools/msodde.py
Labels: bug, msodde
