Repository decalage2/oletools, pull requests merged in 2019-04, with the labels that each got.

#412 Avoid error in ooxml for non-office zip files
  oletools/oleobj.py
  oletools/ooxml.py
  tests/oleobj/test_basic.py
  tests/ooxml/test_basic.py
  tests/test-data/oleobj/embedded-simple-2007.odp
  tests/test-data/oleobj/embedded-simple-2007.ods
  tests/test-data/oleobj/embedded-simple-2007.odt
Labels: enhancement, oleobj

#410 Type-Field in logging
  oletools/common/log_helper/_json_formatter.py
  oletools/common/log_helper/_logger_adapter.py
  oletools/msodde.py
  tests/common/log_helper/log_helper_test_imported.py
  tests/common/log_helper/log_helper_test_main.py
  tests/common/log_helper/test_log_helper.py
Labels: enhancement, msodde

#378 added md5 to rtfobj
  oletools/rtfobj.py
Labels: enhancement, rtfobj
