Repository decalage2/oletools, pull requests merged in 2020-09, with the labels that each got.

#604 olevba: prevent side effects on python lib "email"
  oletools/olevba.py
Labels: :bug: bug, olevba

#450 ppt_parser: fix type of decompressed data
  oletools/ppt_parser.py
Labels: :bug: bug, ppt_parser

#595 fixed command line option --relaxed
  oletools/olevba.py
Labels: :bug: bug, olevba

#613 plugin_biff: updated to v0.0.17
  oletools/thirdparty/oledump/plugin_biff.py
Labels: :+1: enhancement, plugin_biff

#569 improvements to analysis of XLM macros (encrypted ones + contained in XLSM) + template injection
  oletools/olevba.py
Labels: :+1: enhancement, olevba

#591 added several improvements based on our tests: https://www.certego.ne…
  oletools/olevba.py
Labels: :+1: enhancement, olevba
