Repository decalage2/oletools, pull requests merged in 2024-05, with the labels that each got.

#796 Run unittests automatically on github
  .github/workflows/unittests.yml
  oletools/common/io_encoding.py
  oletools/common/log_helper/_json_formatter.py
  oletools/common/log_helper/_logger_adapter.py
  oletools/common/log_helper/log_helper.py
  oletools/doc/Contribute.md
  oletools/mraptor_milter.py
  oletools/msodde.py
  oletools/oleobj.py
  oletools/olevba.py
  oletools/ooxml.py
  oletools/ppt_parser.py
  oletools/rtfobj.py
  oletools/xls_parser.py
  tests/common/log_helper/log_helper_test_imported.py
  tests/common/log_helper/log_helper_test_main.py
  tests/common/log_helper/test_log_helper.py
  tests/common/test_encoding_handler.py
  tests/ftguess/test_basic.py
  tests/msodde/test_basic.py
  tests/oleid/test_basic.py
  tests/oleid/test_issue_166.py
  tests/olevba/test_basic.py
  tests/olevba/test_crypto.py
  tests/ooxml/test_zip_sub_file.py
  tests/rtfobj/test_issue_185.py
  tests/rtfobj/test_issue_251.py
  tests/test_utils/testdata_reader.py
Labels: :+1: enhancement, tests

#855 oleobj.py syntax error
  oletools/oleobj.py
Labels: :bug: bug, Python 3.x, oleobj

#854 rtfobj.py syntax error
  oletools/rtfobj.py
Labels: :bug: bug, rtfobj, Python 3.x

#859 Fix unittests
  oletools/ppt_parser.py
  tests/oleid/test_basic.py
Labels: :bug: bug, ppt_parser, tests
